{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lights Dashboard</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="{% static 'main/bootstrap-4.3.1/bootstrap-theme-cyborg.min.css' %}">
	</head>
	<body>
		{% block content %}
		{% endblock content %}

		<script src="{% static 'main/jquery-3.4.0-slim/jquery-3.4.0.slim.min.js' %}"></script>
		<script src="{% static 'main/bootstrap-4.3.1/bootstrap.bundle.min.js' %}"></script>
	</body>
</html>
