<!DOCTYPE html>

<html>
	<head>
		<title>Lights Dashboard</title>
	</head>
	<body>
		<h1>Lights Dashboard</h1>

		<h2>Strip Control</h2>
		<form action="{% url 'main:strip-control' %}" method="POST">
			{{ control_form.non_field_errors }}

			<p>
				{{ control_form.power.errors }}
				<label for="power_on">{{ control_form.power.label }}: </label>
				<input type="radio" name="power" id="power_on"
				       {% if control_form.power.value %} checked {% endif %} value="true"> On &nbsp;
				<input type="radio" name="power" id="power_off"
				       {% if not control_form.power.value %} checked {% endif %} value="false"> Off
			</p>

			<p>
				{{ control_form.power.errors }}
				<label for="brightness_slide">{{ control_form.brightness.label }}: </label>
				<input type="range" name="brightness" id="brightness_slide" onchange="brightness_num.value=value"
				       min="0" max="255" value="{{ control_form.brightness.value }}">
				<input type="number" id="brightness_num" onchange="brightness_slide.value=value"
				       min="0" max="255" value="{{ control_form.brightness.value }}">
			</p>

			<input type="submit" value="Update Strip">
		</form>

		<h2>Profile Select</h2>
		{% for profile in strip_profiles %}
		<form action="{% url 'main:set-profile' %}">
			<p>
				{{ profile.form.profile }}
				<input type="submit" value="Set Profile">
			</p>
		</form>
		{% empty %}
		<p>
			No profiles available :( <br>This is probably an error. Check the server log!
		</p>
		{% endfor %}
	</body>
</html>
