{% extends 'main/base.html' %}
{% block content %}

<div class="container">

	<h1>Lights Dashboard</h1>
	<hr>

	<h2>Strip Control</h2>
	<form action="{% url 'main:strip-control' %}" method="POST">
		{{ control_form.non_field_errors }}

		<fieldset class="form-group">
			{{ control_form.power.errors }}
			<legend>{{ control_form.power.label }}</legend>
			<div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
				<label class="btn btn-outline-success {% if control_form.power.value %} active {% endif %}">
					<input type="radio" name="power" id="power_on" value="true"
					       {% if control_form.power.value %} checked {% endif %}> On
				</label>
				<label class="btn btn-outline-danger {% if not control_form.power.value %} active {% endif %}">
					<input type="radio" name="power" id="power_off" value="false"
					       {% if not control_form.power.value %} checked {% endif %}> Off
				</label>
			</div>
		</fieldset>

		<fieldset class="form-group">
			{{ control_form.brightness.errors }}
			<legend>{{ control_form.brightness.label }}</legend>
			<div class="form-row align-items-center">
				<div class="col-9">
					<input type="range" name="brightness" id="brightness_slide" class="form-control-range"
					       min="0" max="255" value="{{ control_form.brightness.value }}"
					       onchange="brightness_num.value=value">
				</div>
				<div class="col-3">
					<input type="number" id="brightness_num" class="form-control"
					       min="0" max="255" value="{{ control_form.brightness.value }}"
					       onchange="brightness_slide.value=value">
				</div>
			</div>
		</fieldset>

		<button type="submit" class="btn btn-primary">Update Strip</button>
		<button type="submit" class="btn btn-danger" name="reset" value="true">Reset</button>
	</form>

	<hr>

	<h2>Profile Select</h2>
	{% for profile in strip_profiles %}
	<form action="{% url 'main:set-profile' %}" method="POST">
		<div class="d-flex flex-row align-items-center mb-2">
			<span class="p-1"><b>{{ profile.name }}</b></span>
			{% if profile.name == light_strip.current_profile %}
			<span class="p-1 text-success"><i>Current profile</i></span>
			{% endif %}
			{{ profile.form.profile }}
			<button type="submit" class="ml-auto btn btn-outline-primary">Switch To</button>
		</div>
	</form>
	{% empty %}
	<p>
		No profiles available :( <br>This is probably an error. Check the server log!
	</p>
	{% endfor %}

</div>

{% endblock content %}
